.headerWrpper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.addBtn {
  height: 2rem;
  border-radius: 0.2rem;
  background-color: green;
  color: white;
  margin-top: 2.3rem;
}
