.centerBox {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerColumn {
  @extend .centerBox;
  flex-direction: column;
  gap: 1rem;
}

.errorText {
  color: #d32f2f;
  font-weight: 500;
}
